<ng-container>
  <header
    class="
      text-center
      shadow-sm
      p-3
      mb-5
      d-flex
      flex-row
      justify-content-between
      align-items-center
    "
  >
    <div></div>
    <div class="d-flex align-items-center">
      <i class="material-icons h2 mr-3 mb-0">subtitles</i>
      <span class="h2 mb-0">Subtitles Online Editor</span>
    </div>
    <div>
      <button
        class="btn btn-default d-flex"
        (click)="openSettingsModalComponent()"
      >
        <i class="material-icons m-0">settings</i>
      </button>
    </div>
  </header>
  <main class="container">
    <router-outlet></router-outlet>
  </main>
</ng-container>
